fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart # For form data

# Google Cloud Libraries
google-cloud-speech
google-cloud-texttospeech
google-cloud-translate
google-maps-routing
google-generativeai
googlemaps

# Audio/Numeric
pydub
noisereduce
scipy # Dependency for noisereduce
numpy>=1.20.0 # Dependency for noisereduce
SpeechRecognition>=3.8.1
PyAudio>=0.2.11

# Computer Vision/ML for Drowsiness
opencv-python
mediapipe
ultralytics
torch
torchvision
pyyaml

# Additional Dependencies
openwakeword==0.5.0
websockets>=10.0