fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart # For form data

# Google Cloud Libraries
google-cloud-speech
google-cloud-texttospeech
google-cloud-translate
google-maps-routing
google-generativeai
googlemaps

# For noise reduction
# tensorflow
# tensorflow_hub
librosa
numpy
scipy
noisereduce
soundfile

# deepfilternet

# Computer Vision/ML for Drowsiness
opencv-python
mediapipe
ultralytics
torch
torchvision
pyyaml

# --- NEW for Flood Check ---
httpx # Async HTTP client
beautifulsoup4 # HTML parsing
lxml # Optional: Usually faster HTML parser for BeautifulSoup